*{
  font-family: 'Quicksand', sans-serif;
}

a{
  color:$ice;
  transition: all .2s ease-in-out;
  &:hover{
    color:$wings;
  }
}

h1,h2,h3,h4,h5{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 0;
}

h1{
  margin-bottom: rem-calc(-10);
  float:none;
  transition: all .2s ease-in-out;
}


body{
  background: $stevie;
  height:100%;
  color:$ice;
  border-top:1px solid $wings;
}
